body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #91b7dc;
  margin-top: 100px;
  padding-bottom: 100px;
}

.card {
  width: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
}

h2 {
  padding-top: 20px;
}

form {
  text-align: center;
  width: 100%;
}

.slider-container {
  width: 60%;
  margin: auto;
}

.slider-item {
  margin-bottom: 20px;
  text-align: center;
  padding-top: 15px;
}

.slider {
  width: 100%;
  margin-bottom: 15px;
}

img {
  display: block;
  margin: 10px auto;
  width: 70%;
}

#ver-resultados-btn {
  width: 30%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.slider-wrapper {
  position: relative;
}

.slider-numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: absolute;
  width: 100%;
}

.slider-numbers span {
  font-size: 12px;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
}

.slider-labels span {
  font-size: 14px;
  width: 50%;
}

.label-left {
  text-align: left;
}

.label-right {
  text-align: right;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: auto;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
  height: auto;
  padding-left: 30px;
  padding-top: 15px;
}

.bttn {
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}
